<footer>
  <div class="max-2-6xl max-auto ">
    <div class="px-5">
      <!-- About section -->
      <div class="space-y-8 xl:col-span-1">
        <h3 class="text-sm font-semibold  tracking-wider uppercase">About Ecomm</h3>
        <p class="text-white leading-6">

        </p>
      </div>

      <!-- Quick Links -->
      <div class="mt-12 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold tracking wider uppercase">Quick Links</h3>
            <ul class="mt-4 space-y-4">
              <li>
                <%= link_to "Home", root_path, class: "text-base leading-6 text-white hover:text-gray-100" %>
              </li>
            </ul>   
          </div>    
        </div>
      </div>

      <!-- Contact information -->
      <div class="mt-8 mb-8 md:grid md:grid-cols-2 md:gap-8">
        
      
      </div>

      <div class="border-t border-gray-700">
        <div class="max-w-6xl mx-auto px-4 py-6 md:flex ">
          <p class="mt-6 text-base leading-6 md:mt-0 md:order-1 mx-auto">
          &copy; <%= Time.now.year %> 
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
