<footer class="border-t border-gray-700 mt-20">
  <div class="max-w-6xl mx-auto px-5 py-6">
      <p class="text-center  leading-6 mt-6 md:mt-0 text-xs">
        &copy; Ruby Docker Shop <%= Time.now.year %>
      </p>
    </div>
  </div>
</footer> 
   