<div class="min-h-screen">
  <div class="container mx-auto py-10">
    <h1 class="text-4xl font-bold text-gray-800 dark:text-white text-center mb-8">Your Cart</h1>
    <div id="errorContainer" data-cart-target="errorContainer" class="text-red-500 dark:text-red-300 text-center"></div>
    <div data-controller="cart" class="shadow overflow-hidden rounded-lg bg-white dark:bg-neutral-950  mt-4">
      <div data-cart-target="items" class="p-4 space-y-4">  
        <!-- Items will be inserted here by Stimulus -->
      </div>
      <div class="flex justify-between items-center p-4  dark:border-gray-700">
        <div data-cart-target="total" class="font-medium text-gray-800 dark:text-gray-200">
          <!-- Total amount will be inserted here by Stimulus -->
        </div>
        <button class="py-2 px-4 bg-red-500 hover:bg-red-600 rounded text-white transition-colors duration-150 flex-grow mr-2" data-action="cart#checkout">
          Proceed to checkout
        </button> 
        <button class="py-2 px-4 bg-gray-400 hover:bg-gray-500 rounded text-white transition-colors duration-150 flex-grow" data-action="cart#clear">
          Clear Cart
        </button>
      </div>
    </div>
  </div>
</div>
